# Thư mục và tệp của Visual Studio
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Thư mục và tệp build
bin/
obj/
out/

# Thư viện NuGet (được tải xuống từ Internet)
packages/
*.nupkg

# Tệp cấu hình
appsettings.json
appsettings.Development.json
appsettings.Production.json

# Thư mục tạm thời
*.log
*.tmp
*.bak
*.swp
*.sql

# Các tệp và thư mục của IIS (nếu sử dụng IIS)
iisexpress/
PublishOutput/

# Tệp và thư mục của Docker (nếu sử dụng Docker)
.docker/
Dockerfile

# Tệp database tạm thời hoặc file cache
Database/
*.mdf
*.ldf

# Các tệp môi trường ẩn
*.env
*.secret
v