@{
    ViewData["Title"] = "Truy Cập Bị Từ Chối";
}

<div style="text-align: center; margin-top: 50px;">
    <h1 style="color: red;">Truy Cập Bị Từ Chối</h1>
    <p>Bạn không có quyền truy cập vào trang này.</p>
    <p>Vui lòng liên hệ quản trị viên nếu bạn nghĩ đây là lỗi.</p>
    <a href="~/">Quay về Trang chủ</a>
</div>
