<div class="container my-5">
    <div>
        <h3>Danh mục: Điện tử</h3>
    </div>
    <div class="row">
        @for(int i=0; i<10; i++)
        {
            <div class="col-sm-3 md-3 mb-4">
                <div class="card h-100">
                    <img src="https://via.placeholder.com/200" class="card-img-top" alt="Product 1">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Màn hình MSI</h5>
                        <p class="text-danger">4.550.000 đ</p>
                        <button class="btn btn-primary mt-auto"><i class="fas fa-cart-plus"></i> Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 md-3 mb-4">
                <div class="card h-100">
                    <img src="https://via.placeholder.com/200" class="card-img-top" alt="Product 2">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Màn hình AOC</h5>
                        <p class="text-danger">2.090.000 - 2.319.000 đ</p>
                        <button class="btn btn-primary mt-auto"><i class="fas fa-cart-plus"></i> Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 md-3 mb-4">
                <div class="card h-100">
                    <img src="https://via.placeholder.com/200" class="card-img-top" alt="Product 3">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Màn hình Samsung</h5>
                        <p class="text-danger">2.790.000 đ</p>
                        <button class="btn btn-primary mt-auto"><i class="fas fa-cart-plus"></i> Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 md-3 mb-4">
                <div class="card h-100">
                    <img src="https://via.placeholder.com/200" class="card-img-top" alt="Product 4">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Màn hình Asus</h5>
                        <p class="text-danger">2.190.000 đ</p>
                        <button class="btn btn-primary mt-auto"><i class="fas fa-cart-plus"></i> Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="container mt-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
            </ul>
        </nav>
    </div>
</div>