<header class="py-2">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div>
            <a href="#" class="btn btn-outline-primary"><i class="fas fa-list"></i>Danh mục sản phẩm</a>
        </div>
        <form class="d-flex" role="search" style="width: 50%;">
            <div class="search-bar position-relative w-100">
                <input class="form-control" type="search" placeholder="Nhập từ khóa cần tìm..." aria-label="Search">
                <button class="btn position-absolute end-0 top-50 translate-middle-y pe-3" type="submit" style="background: none; border: none;">
                    <i class="fas fa-search text-primary"></i>
                </button>
            </div>
        </form>

        <div>
            <button class="btn btn-outline-secondary" onclick="toggleLoginRegister()"><i class="fas fa-user"></i> Đăng nhập/Đăng ký</button>
            <a href="#cart" class="btn btn-outline-primary"><i class="fas fa-shopping-cart"></i> Giỏ hàng</a>
        </div>
    </div>
</header>