.primary-color {
    color: rgb(15, 42, 164);
}

.bg-primary-color {
    background-color: rgb(15, 42, 164);
}

.bg-danger-color {
    background-color: #ff5733;
}

.cart-container {
    display: flex;
    margin-top: 50px;
}

.cart-items {
    flex: 7;
    padding-right: 30px;
}
    .cart-items img{
        object-fit: cover;
        border-radius: 4px;
    }

.cart-summary {
    flex: 3;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.product-info {
    flex: 1;
    padding-left: 20px;
}

.product-price {
    color: rgb(15, 42, 164);
    font-weight: bold;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.total-price {
    font-size: 1.2em;
    font-weight: bold;
}

.btn-checkout {
    width: 100%;
    margin-top: 20px;
}

.form-check-input:checked {
    background-color: rgb(15, 42, 164);
    border-color: rgb(15, 42, 164);
}

.cart-summary {
    background-color: rgb(240, 240, 240);
}

